{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}
{% block content %}

<div class="container" style="margin-top: 10%;">
    <div class="row justify-content-around">
        <div class="col-sm-6">
            <div class="card text-center">
                <div class="card-header">
                    <strong>
                        Login
                    </strong>
                </div>
                <div class="card-body">
                    {% if message %}
                        <div class="alert alert-primary" role="alert">
                            {{message}}
                        </div><br>
                    {% endif %}
                    <form method="POST">{% csrf_token %}
                        <div class="container">
                            <div class="row justify-content-around">
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" name="fname" placeholder="First Name" required>
                                </div>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" name="lname" placeholder="Last Name" required>
                                </div>
                            </div><br>
                            <div class="row justify-content-around">
                                <div class="col-sm-10">
                                    <input class="form-control" type="email" name="email" placeholder="Email" required>
                                </div>
                            </div><br>
                            <div class="row justify-content-around">
                                <div class="col-sm-6">
                                    <input class="form-control" type="password" name="pass1" placeholder="Password" required>
                                </div>
                                <div class="col-sm-6">
                                    <input class="form-control" type="password" name="pass2" placeholder="Confirm Password" required>
                                </div>
                            </div><br>
                            <div class="row justify-content-around">
                                <div class="col-sm-3">
                                    <button class="btn btn-danger" type="submit">
                                        Register
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}